@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #60BC9B;
  --color-primary-hover: #4ba88a;
  --color-primary-disabled: #a8d8c2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-button: var(--color-primary);
  --color-button-hover: var(--color-primary-hover);
  --color-button-disabled: var(--color-primary-disabled);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Saira Condensed", sans-serif; */
}

p {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #333333;
}

p.text-white {
  color: #ffffff;
}

p.text-grey {
  color: #A1A1A1;
}

li.text-grey {
  color: #CDCDCD;
}

p.font-semibold {
  font-weight: 600;
}

p.font-light {
  font-weight: 300;
}

h1, h2, h3 {
  font-family: var(--font-saira), sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  color: #333333;
}

h4 {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #333333;
}

h3.giant {
  font-family: var(--font-saira), sans-serif;
  font-weight: 600;
  font-size: 98px;
  line-height: 1;
  color: #333333;
}